# Importing libraries

In [7]:
import numpy as np # Data Processing
#import matplotlib.pyplot as plt
import pandas as pd # Data Processing
import os # Setting the Working Directory
from sklearn.preprocessing import LabelEncoder, OneHotEncoder # Creating dummies for categorical variable
from sklearn.linear_model import LinearRegression # Linear Regression from SKLEARN
import statsmodels.api as sm # Linear Regression from STATSMODEL

In [8]:
dataset = pd.read_csv('Dataset.csv')

In [9]:
dataset_stats = dataset.describe()
dataset_stats

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [43]:
dataset_1 = dataset.copy()
dataset_1 = dataset_1.drop(['State'],axis =1)#axis=1, refering to columns

In [50]:
# Creating the Independendent and Dependent Data Sets

X = dataset.iloc[:, :-1] #Feature Data
y = dataset.iloc[:, 4].values # Dependent Data

In [51]:
#X_data=pd.DataFrame(X)

In [46]:
#  label Encoder vs One-Hot Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

#Label Encoder : Encode labels with value between 0 and n_classes-1.
#oter way for label encoding
#labelencoder = LabelEncoder()
#X.iloc[:, 3] = labelencoder.fit_transform(X.iloc[:, 3])

In [52]:
#pd.get_dummies(X,column = ['State'])
X_dummies=pd.get_dummies(X['State'], prefix="State",prefix_sep="_")
X=pd.concat([X,X_dummies],axis=1)
X=X.drop(['State'],axis=1)
#X=X.drop(['Administration'],axis=1)

In [53]:
#X.State.unique()
X.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0

In [15]:
dataset.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [16]:
#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:

# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [18]:

# Predicting the Test set results
y_pred = regressor.predict(X_test)
y_pred_data=pd.DataFrame(y_pred)
y_pred_data

               0
0  103959.405080
1  132398.732367
2  133529.037901
3   72958.283683
4  179534.787372
5  115533.625841
6   67476.958479
7   98504.361994
8  114789.160838
9  168972.219099

In [19]:
regressor.score(X_train,y_train)

0.9500009880362248

In [20]:
regressor.score(X_test,y_test)

0.9386861070938133

In [21]:
#Model Statistics
#Adding Intercept term to the model
X_train=sm.add_constant(X_train)
X_test=sm.add_constant(X_test)

In [22]:
#Converting into Dataframe
X_train_d=pd.DataFrame(X_train)

In [23]:
X_train_1=X_train.copy()
X_train_1 = X_train_1.drop(['const'],axis=1)

In [24]:
#Printing the Model Statistics
model_train = sm.OLS(y_train,X_train).fit()
model_train.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.950
Model:                            OLS   Adj. R-squared:                  0.944
Method:                 Least Squares   F-statistic:                     166.3
Date:                Sat, 09 Jul 2022   Prob (F-statistic):           3.01e-22
Time:                        23:09:37   Log-Likelihood:                -421.17
No. Observations:                  40   AIC:                             852.3
Df Residuals:                      35   BIC:                             860.8
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            4.266e+04   8248.360      5.172      0.000    2.59e+04    5.94e+04
R&D Spend           0.7772      0.053     14.541      0.000       0.669       0.886
Administration      0.0302      0.065      0.464      0.646      -0.102       0.163
Marketing Spend     0.0349      0.019      1.878      0.069      -0.003       0.073
State             315.8772   1805.304      0.175      0.862   -3349.085    3980.840
==============================================================================
Omnibus:                       15.306   Durbin-Watson:                   2.482
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               21.372
Skew:                          -1.087   Prob(JB):                     2.29e-05
Kurtosis:                       5.845   Cond. No.                     1.48e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [25]:
model_test= sm.OLS(y_test,X_test).fit()
model_test.summary()

C:\Users\sxv210087\Anaconda3\lib\site-packages\scipy\stats\stats.py:1541: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.981
Model:                            OLS   Adj. R-squared:                  0.965
Method:                 Least Squares   F-statistic:                     63.20
Date:                Sat, 09 Jul 2022   Prob (F-statistic):           0.000181
Time:                        23:09:47   Log-Likelihood:                -99.322
No. Observations:                  10   AIC:                             208.6
Df Residuals:                       5   BIC:                             210.2
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            7.828e+04   1.27e+04      6.156      0.002    4.56e+04    1.11e+05
R&D Spend           0.8987      0.097      9.275      0.000       0.650       1.148
Administration     -0.1744      0.082     -2.134      0.086      -0.385       0.036
Marketing Spend    -0.0344      0.037     -0.920      0.400      -0.131       0.062
State           -1189.9222   4454.096     -0.267      0.800   -1.26e+04    1.03e+04
==============================================================================
Omnibus:                        0.449   Durbin-Watson:                   2.069
Prob(Omnibus):                  0.799   Jarque-Bera (JB):                0.294
Skew:                          -0.342   Prob(JB):                        0.863
Kurtosis:                       2.512   Cond. No.                     1.72e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.72e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [28]:
y_pred_ols=model_train.predict(X_test)
#ols also gives us the coefficient, the other one is through sklearn
pd.DataFrame(y_pred_ols)

                0
28  103959.405080
11  132398.732367
10  133529.037901
41   72958.283683
2   179534.787372
27  115533.625841
38   67476.958479
31   98504.361994
22  114789.160838
4   168972.219099

In [29]:
#Checking the VIF Value

from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Factor"] =[variance_inflation_factor(X_train_d.values, j) for j in range(X_train_d.shape[1])]
vif["features"] = X_train_d.columns
vif.round(1)

   VIF Factor         features
0        29.1            const
1         2.6        R&D Spend
2         1.2   Administration
3         2.3  Marketing Spend
4         1.0            State

In [ ]:
#removing R&D Spend and State

In [31]:
#Storing Coefficients in DataFrame along with coloumn names
#coefficients = pd.concat([pd.DataFrame(X_train_1.columns),pd.DataFrame(np.transpose(model_train.coef_))], axis = 1)